
html{
    box-sizing: border-box;
     /*background-image: url("tree.png");*/
background-color: grey;
    background-repeat: no-repeat;
     
}
 body{
    /* background-image: url("./images/background.jpg"); */
    background-repeat: no-repeat;

} 
 *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    * {
        box-sizing: border-box;
      } 
      
      /* Create three equal columns that floats next to each other */
   

.container {
        width: 80%;
        background-color:white;
        margin: auto;
        text-align: justify;
        
    }
.top-container{
    /* background-color: #38c787; */
    min-width: 100%;
    height: 300px;
}
.main-container{
    margin-top: 50px;
    /* background-color: green; */
    min-width: 100%;
    height: 450px;
}
#profile-pic{
    /* background-color:; */
    height:100%;
    width :30%;
    float: left;
    
    padding-bottom: 100px;

}
#profile-description{
    /* background-color: rgb(101, 25, 187); */
    height:100%;
    width :70%;
    float: right;
    margin-top: 0%;
    padding: 40px 100px;

    


}
#social{
    
    
    width: 300px;
    
    margin-top: 100px;
    margin-left: 400px;
    font-family: 'Archivo Black';font-size: 13px;color:	#505050;


}
   .column1 {
        float: left;
        width: 33.33%;
        padding: 10px;
         /* Should be removed. Only for demonstration */
         background-color: white;
         height: 700px;
       }
        
      .column2 {
        float: left;
        width: 66.66%;
        /* padding: 5px; */
        padding-top: 3px;
        padding-left: 40px;
        height: 700px; /* Should be removed. Only for demonstration */
        background-color: white;
      }
      .column2 ul li {
        width: 50px;
        height: 50px;
        border: 2px solid #505050;
        border-radius: 50%;
        position: relative;
        color: #505050;
        
        list-style-type:none;
      }
      
      .column2 ul li:before {
        content: "";
        position: absolute;
        top: 18px;
        right: -300px;
        width: 300px;
        height: 3px;
        
        background: #505050;
        
        /* margin: 1em 0; */
      }
      .column2 ul li i {
        
        margin : 15px;

        
      }
      /* .Experience-Description li :nth-last-child(0) {
        height: 1px;
      } */
   #first,#second{
    
        width: 10px;
        height: 10px;
        border: 2px solid #505050;
        border-radius: 50%;
        position: relative;
        color: #505050;
        height: 0px;
        list-style-type:none;
        right: -15px;
        width: 100px;
   }
     
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both; */
      } 
       th {
        border-bottom: 3px solid red;
        
       }

section a img{
    text-decoration: none;
}
section a:hover img{
    width:24px;
    height: 24px;
}
h1{font-family: 'Archivo Black';font-size: 30px;color:	#505050;

}
p{
    font-family: 'Arbutus Slab';font-size: 15px;color:	#505050;
}
#heading-contact{
    height:20 px;
    width:30 px;
    border-bottom: 3px solid #505050;
    font-family: 'Arbutus Slab';font-size: 15px;color:	#505050;
    padding-bottom: 10px;

}
#profile-about,#Experience-Description{
    /* border-bottom: 3px solid #505050; */
    padding-bottom: 10px;
    font-family: 'Arbutus Slab';font-size: 15px;color:	#505050;
}
#profile-content{
    
    width:66.66%;
    border-left:3px solid #505050;
    padding-left: 50px;
    padding-top: 25px;
    margin-left: 20px;
    
    

}
#Education{
    border-bottom: 3px solid #505050; 
    font-family: 'Arbutus Slab';font-size: 15px;color:	#505050;
    padding-top: 50px;
    padding-bottom: 10px;
}
#Experience-content{
    height:300px;
    width:66.66%;
    border-left:3px solid #505050;
    padding-left: 50px;

}
.experience_record{
  text-decoration: none;

}
.title{
  background-color: white;
}
.resume_item resume_hobby{
  background-color: white;
  
}

.resume_hobby ul {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 50px;
  
}
.resume_hobby ul li i {
  font-size: 30px;
  margin : 22px;

}
.resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #505050;
  border-radius: 50%;
  position: relative;
  color: #505050;
  list-style-type:none;
}
.resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -220px;
  width: 220px;
  height: 2px;
  background: #505050;
}
.resume_hobby ul li:last-child:before {
  display: none;
}




